header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);;
    width: 100%;
    background-image: url('45-degree-fabric-dark.png');
    background-color: #fffc35;
}
  
  header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
  }