header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-image: url('45-degree-fabric-dark.png');
    background-color: #fffc35;
}
  
  header div img {
    display: flex;
    margin-top: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  header h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }