nav {
    display: flex;
    height: 120px;
    width: 100%;
    background-image: url('45-degree-fabric-dark.png');
    background-color: #fffc35;
    color: #FFFFFF;
    font-family: Bungee;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }

  .new-tweeter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  
  .new-tweeter span {
    font-family: Helvetica;
    font-size: large;
  }

  .new-tweeter i {
    color:red
  }
