nav {
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: Bungee;
    padding: 0 1.5em;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }

  .new-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  
  .new-tweet span {
    font-family: Helvetica;
    font-size: large;
  }

  .new-tweet i {
    color:red
  }
