*
  body {
    font-family: sans-serif;
    background-image: url('45-degree-fabric-dark.png');
    background-color: #4056A1;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: whitesmoke;
  }

  .new-tweet label {
    display: line;
    font-size: large;
    margin-bottom: 0.5rem;
  }
  
  .new-tweet textarea {
    display: inline-block;
    width: 90%;
    min-height: 20px;
    font-size: 16px;
    padding: 10pxrem;
    border: none;
    border-bottom: 3px solid #3a3131;
    resize: vertical;
    margin-bottom: 1rem;
  }

  .new-tweet button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .new-tweet .counter {
    font-size: 18px;
    color: #888;
    margin-top: 0.5rem;
    float: right;
  }