*
  body {
    font-family: sans-serif;
    background-color: #ffffff;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 10px;
    background-color: #ffffff
  }

.new-tweet div {
  margin-bottom: 1.0rem;
}

  .new-tweet label {
    display: line;
    font-size: large;
    margin-bottom: 0.5rem;
  }
  
  .new-tweet textarea {
    display: line;
    width: 100%;
    max-height: 35px;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #3a3131;
    resize: vertical;
    margin-bottom: 0.5rem;
  }

  .new-tweet button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4056A1;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .new-tweet .counter {
    font-size: 22px;
    margin-top: 0.5rem;
    float: right;
    font-family: Bungee;
  }