.tweets-container {
    overflow-y: scroll;
}

article {
  transition: box-shadow 0.3s ease-in-out;
}

 article:hover {
  box-shadow: 5px 5px 10px rgba(16, 0, 0, 0.666);
}

.tweets-container .tweet header {
    background-color: #ffffff;
    background-image: none;
    height: 50px;
    border: 3px #3a3131;
    font-size: 16px;
}

.tweet {
    border: 3px solid #3a3131;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1em;
}

.tweet-content {
    border-bottom: 3px solid #3a3131;
}

.tweet header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tweet header i.fa-brands {
    padding: 0.25rem;
    font-size: 3rem;
    color: #24292e;
  }

  .tweet header p:first-of-type {
    margin-right: auto;
  }
  
  .tweet header p:last-of-type {
    margin-left: auto;
  }

.tweet footer {
    padding-top: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.tweet footer .actions {
    display: flex;
    gap: 1rem;
    transition: color 0.3s ease-in-out;
  }

  .tweet footer .actions i:hover {
    color: #f90404;
  }

  .tweet footer p {
    margin: 10px;
    font-size: 0.8rem;
    color: #242222;
    justify-content: flex-start;
  }

  header img {
    width: 50px;
    height: 50px;
    padding: 0.35em;
    margin-top: 0px;
    }
  
  footer .tweet-age {
    font-size: 0.8rem;
  }

  div .tweet-content {
    font-size: 0.8em;
    margin-bottom: 0px;
  }

  @media only screen and (min-width: 1024px) {
      /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */

  
    
  }  